* {
	box-sizing: border-box;
	font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
	background-color: #eeeeee;
}

main {
	margin-top: 85px;
}

ul {
    list-style: none;
}

li {
    margin: 0 0 10px 0;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.svg-wrapper {
	display: flex;
	align-items: center;
	margin: 32px;
}

.feature {
	display: flex;
    width: 100%;
}

.info-wrapper {
	width: 100%;
    padding: 25px;
}

.package {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
}

.package-heading {
    background-color: #dddddd;
    font-size: 1rem;
}

.price {
    font-weight: 600;
    font-size: 1.5rem;
}

.package-heading, .price, .package-list {
    text-align: center;
    padding: 15px;
}

.package-submit {
    background-color: #eac645;
    border: none;
    padding: 10px 20px;
    margin: 0  auto 20px auto;
    cursor: pointer;
    width: fit-content;
}

.package-submit:hover {
    background-color: #ffa500;
    transition: ease-in 500ms;
}

.footer-link {
    text-decoration: none;
    color: black;
    padding: 15px;
}

#header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #eeeeee;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 20px;
	z-index: 99;
}

#header-img {
	width: 300px;
}

#nav-bar {
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: space-evenly;
}

#start {
	text-align: center;
    margin-bottom: 50px;
}

#heading {
    margin-bottom: 25px;
}

#email {
	padding: 5px;
	padding-right: 150px;
	margin-bottom: 20px;
}

#submit {
	padding: 5px 20px;
	font-weight: 900;
	font-size: 1rem;
	background-color: #eac645;
	border: none;
}

#features {
	width: 90%;
    max-width: 950px;
	margin: 0 auto;
}

#how_it_works {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#pricing {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#footer{
    background-color: #dddddd;
    text-align: end;
    margin-top: 50px;
}

#footer-wrapper {
    padding: 20px;
}

#footer-links {
    display: flex;
    justify-content: flex-end;
}

#copyright {
    color: #414141;
}

@media  (min-width: 800px) {
    #pricing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        max-width: 900px;
    }
}